<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CherDBConnString" connectionString="Data Source=LENOVOSTROJ;AttachDbFilename=C:\\Users\\Miroslav\\Documents\\My FER Documents\\9. Semestar\\Strojno Ucenje\\Projekt\\Baza_30_usera\\CherDB.mdf;Initial Catalog=CherDB2;Integrated Security=True;User Instance=False"/>
  </connectionStrings>
</configuration>